@use "@/styles/vars.module.scss" as *;

.page {
  @include flexbox($d: column, $g: 64px);
  @include container(1280px, true, 0px);
 
  .projects {
    @include flexbox($d: column, $g: 24px);
    
    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      .project {
        padding: 32px;
        border: 3px solid   $blue_40;
        border-radius: $br_m;
        @include transition;

        color: $blue_35;

        &:hover {
          color: #fff;
          background-color: $blue_40;
        }
        
        &:active {
          background-color: $blue_45;
        }

        .name {
          font-size: 2rem;
          font-weight: 600;
        }

        .desc {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }

    .btn {
      align-self: center;
      width: 100%;
      max-width: 512px;
    }
  }

  .integrations {
    @include flexbox($d: column, $g: 24px);

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      width: 100%;

      .integration {
        @include flexbox($a: center, $g: 12px);
        
        padding: 24px;
        border: 3px solid $purple_40;
        border-radius: $br_m;
        @include transition;

        color: $purple_35;

        .type {
          display: grid;
          place-items: center;
          
          .icon {
            font-size: 2rem;
          }
        }

        .name {
          font-size: 1.25rem;
          font-weight: 600;
        }

        .delete {
          color: $red_45;
          font-size: 1.5rem;
          margin-left: auto;
          cursor: pointer;
          @include transition;

          &:hover {
            color: $red_55;
          }
        }
      }
    }
  }
}